# Only deploy index.html + README.md to GitHub
satellite_tool.html
satellite_tool2.html
satellite_tool3.html
satellite_tool4.html

# Windows
*.exe
*.mp4
Thumbs.db

# Build
build/

# Python
__pycache__/
*.pyc
原始python程式/

# Others
範例/
